@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap);header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 120px;
}
header img {
  padding: 1rem;
}
header ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
header li {
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
  line-height: 120px;
  border-bottom: 5px solid transparent;
  cursor: pointer;
}
header li.active, header li:hover {
  border-bottom: 5px solid #0282f9;
}
header li.active a, header li:hover a {
  color: #0282f9;
}

.footer-top {
  background-image: url("/images/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-top .link-list {
  display: flex;
}
.footer-top .link-list__col {
  margin-right: 3rem;
}
.footer-top li {
  color: grey;
}
.footer-top li:hover {
  color: #0282f9;
  cursor: pointer;
}
.footer-top img {
  width: 350px;
}

.footer-bottom {
  background-color: #303030;
  height: 150px;
}
.footer-bottom .social-links,
.footer-bottom ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .social-links li,
.footer-bottom ul li {
  margin: 3rem 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  max-width: 100%;
}

.jumbo {
  margin-top: 2px;
  margin-bottom: -4px;
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: #003f5e;
  text-transform: uppercase;
  margin: 3rem 0 1rem;
}

h2 {
  color: #0282f9;
  text-transform: uppercase;
  margin-right: 2rem;
}

h5 {
  margin: 0.4rem auto;
  color: #0282f9;
  text-transform: uppercase;
}

h6 {
  color: #55ba59;
  text-transform: uppercase;
  margin-top: 0.4rem;
}

button {
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #0282f9;
  padding: 1rem 1.3rem;
  color: white;
  cursor: pointer;
  font-weight: 700;
  transition-duration: 0.3s;
  transition-property: background-color;
  transition-timing-function: ease;
}
button:hover {
  background: #0282f9;
}

.comics {
  background-color: #1c1c1c;
  color: white;
  text-align: center;
  padding: 1rem;
}
.comics h3 {
  text-transform: uppercase;
  color: white;
  padding: 1rem 0;
}
.comics h4 {
  text-transform: uppercase;
}
.comics .container {
  position: relative;
}
.comics__blue {
  position: absolute;
  top: -40px;
  left: 0;
  text-align: center;
  background-color: #0282f9;
  padding: 0.8rem 2rem;
  z-index: 2;
}
.comics__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.comics__btn {
  display: inline-block;
  background-color: #0282f9;
  padding: 0.5rem 2.5rem;
}
.comics .comics {
  width: calc(16.6666666667% - 12px);
  padding: 2rem 0.5rem;
  cursor: pointer;
}
.comics .comics:hover {
  filter: brightness(0.8);
}

.blue-banner {
  background-color: #0282f9;
  color: white;
  text-align: center;
}
.blue-banner img {
  width: 50%;
}
.blue-banner .svg-file {
  width: 20%;
}
.blue-banner ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blue-banner li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
}
.blue-banner span {
  font-size: 0.8rem;
}

.single-comic .blue-line {
  background-color: #0282f9;
  height: 50px;
}
.single-comic .container {
  position: relative;
  width: 80%;
  margin: auto;
  display: block;
}
.single-comic .container::after {
  display: table;
  content: "";
  clear: both;
}
.single-comic .container .thumb {
  position: absolute;
  top: -360px;
  left: 0;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
}
.single-comic .container .thumb__details {
  position: absolute;
  background-color: #00a9d9;
  left: 0;
}
.single-comic .container .thumb .type {
  top: 0;
}
.single-comic .container .thumb .gallery {
  bottom: 0;
  width: 100%;
  text-align: center;
}
.single-comic .container .float {
  float: left;
}
.single-comic .container .float__left {
  width: 55%;
}
.single-comic .container .float__left .available {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #55ba59;
  border-bottom: 2px solid #377b3b;
  line-height: 3rem;
}
.single-comic .container .float__left .available__left {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b6fa96;
  padding: 0 1rem;
}
.single-comic .container .float__left .available__left span {
  color: white;
}
.single-comic .container .float__left .available__right {
  padding: 0 1rem;
  color: white;
  border-left: 2px solid #377b3b;
  text-align: center;
}
.single-comic .container .float__left .description {
  line-height: 1.5rem;
  color: gray;
}
.single-comic .container .float__right {
  width: 45%;
}
.single-comic .container .float__right div {
  color: #1c1c1c;
  text-align: right;
  text-transform: uppercase;
}
.single-comic .details {
  background-color: #f6f6f6;
  border-top: 2px solid gainsboro;
  padding-bottom: 10rem;
}
.single-comic .details .col {
  float: left;
  width: 48%;
}
.single-comic .details .col.talent {
  margin-right: 4%;
}
.single-comic .details .col h3 {
  color: #003f5e;
  font-size: 1.5rem;
  line-height: 5rem;
  border-bottom: 2px solid gainsboro;
}
.single-comic .details .col .row {
  padding: 1rem 0;
  border-bottom: 2px solid gainsboro;
}
.single-comic .details .col .row::after {
  display: table;
  content: "";
  clear: both;
}
.single-comic .details .col .row h4 {
  color: #003f5e;
  float: left;
  width: 35%;
}
.single-comic .details .col .row p {
  color: #00a9d9;
  float: left;
  width: 65%;
}